$black: #0F171A; // Blackish
$dark_red: #3F271C; // Darkish Orangish - Redish
$dark_green: #354D2C; // Greenish
$bluer: #bdbeed; //Blueish
$dark_blue: #0B2C39;
$dark_orange: #75361A; // Redish - Orangish

$theme_bg_color: #{$black};
$theme_fg_color: #{$bluer};
$bg_color: #{$black};
$fg_color: #{$bluer};
$font_color: #{$bluer};
$border_color: #{$dark_blue};
$button_color: #313149;
